.bod .calendar-container {
}

.calendar-container {
  width: 80%; /* Increased width */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.value-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 40px;
}

.value-controls h2 {
  padding: 0 10px 0 10px;
  margin: 0;
}

.calendar-grid {
  width: 80%;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr); /* 7 columns with equal width */
  grid-template-rows: repeat(5, 1fr); /* 5 rows with equal height */
  grid-gap: 5px; /* Optional: Add spacing between grid items */
  border-collapse: collapse;
}

.calendar-row {
  display: flex; /* Arrange content in a row */
  flex-direction: row; /* Ensure horizontal direction */
}

.calendar-elem {
  border: 1px solid var(--charcoal-gray);
  padding: 10px;
  text-align: center;
  cursor: pointer;
  flex: 1;
  margin: 1.5px;
}

.calendar-inactive {
  opacity: 0;
}
