@tailwind base;
@tailwind components;
@tailwind utilities;

/* In your global CSS file */
.my-gradient {
  background-image: linear-gradient(to bottom, #e5dad5, #e3c7cb, #d9c8d0);
}

.my-text-secondary {
  color: RGB(248, 240, 230);
}

.modal {
  transition: opacity 0.25s ease;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}
